@font-face {font-family:MalgunGothic; src:url(fonts/MalgunGothic.eot);}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: '맑은 고딕','Malgun Gothic','Apple SD Gothic Neo',sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.gr {
    color: #19ce60 !important;
}
.all_wrap {
    margin: 0 auto;
}
.top_content {
    width: 1130px;
    margin: 0 auto;
}
.top_menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 11px;
    padding: 12px 0;
}
.top_menu a {
    display: inline-block;
    color: #404040;
    margin-right: 6px;
}
.top_menu a:hover {
    text-decoration: underline;
}
.search_area .logo a,
.search_area .logo img {
    width: 222px;
    height: 52px;
}
.search_area a {
    display: block;
}
.search_area {
    display: flex;
}
.search_area h1 {
    margin-right: 26px;
}
.search_area input {
    width: 498px;
    padding: 14px 16px;
    border: 2px solid #19ce60;
    outline: none;
}
.search_area button {
    width: 56px;
    height: 56px;
    background: #19ce60;
    color: #fff;
    border: none;
    outline: none;
}
.bottom_content {
    border-top: 1px solid #e0e3e6;
    padding: 19px 0;
    margin-top: 52px;
    box-shadow: 0 1px 3px rgba(0,0,0,.15);
}
.bottom_menu {
    width: 1130px;
    margin: 0 auto;
}
.bottom_menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.bottom_menu li {
    padding: 0 7px;
}
.bottom_menu li a {
    font-size: 15px;
    font-weight: 600;
    color: #000;
}

/*메인 컨텐츠*/
.content_wrap {
    width: 1130px;
    margin: 0 auto;
    padding-top: 20px;
}
.cont_right {
    width: 750px;
    overflow: hidden;
}
.ad_box {
    display: flex;
    justify-content: flex-start;
    width: 750px;
    height: 135px;
    overflow: hidden;
    font-size: 0;
}
.video {
    display: inline-block;
    width: 240px;
    height: 135px;
    background: #f7f9fa;
    border: 1px solid #dae1e6;
}
.ad1 {
    width: 510px;
    height: 135px;
}
.cont_left {
    width: 350px;
}